<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src *;img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
  <title>cardano-express-web3-skeleton</title>
</head>

<body>
  <h1 style="text-align:center; margin-top: 100px">API home</h1>
  <h2 style="text-align:center">For more info visit: <a target="_blank" href="https://github.com/jmagan/cardano-react-web3-skeleton">cardano-react-web3-skeleton</a></h2>
  <center><a href="https://app.doitwithlovelace.io/users/DoItWithLovelace" target="_blank"><img src="https://app.doitwithlovelace.io/api/og/assets/donationButton"/></a></center>
</body>

</html>
